* {
    box-sizing: border-box;
    border: 1px solid red;
}
:root {
    --var-padding-box: 19px;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 19px;
    /* background-image: url(./images/13312339_v755-toon-05.jpg);
 */}
 header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2.5em;
 }
 nav button {
    padding: 23px 47px;
    border-radius: 3ch;
    background-color: beige;
 }
 nav button:hover {
    background-color: pink;
 }
#content {
    justify-self: center;
    align-self: center;
    width: 70%;
    border-radius: 31px;
}
#frame-home, #frame-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 31px;
    gap: 1rem;
}

#tittle-container, #hours-container {
    align-self: center;
    justify-self: center;
    color: red;
    width: 70%;
    /* height: 10%; */
    border-radius: 40px;
    border: 7px solid green;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
h1 {
    text-align: center;
}
#presentation-container {
    align-self: center;
    justify-self: center;
    width: 90%;
    background-color: beige;
    border-radius: 35px;
    padding: var(--var-padding-box);
}
#tittle-presentation {
    text-align: center;
    color: blue;
    margin-bottom: 0;
}
#text-presentation p {
    /* text-align: center; */
    margin: 0 auto;
}
#location-container {
    /* display: flex;
    flex-direction: column; */
    width: 90%;
    border-radius: 25px;
    padding: var(--var-padding-box);
    background-color: beige;
}
span:first-child {
    display: block;
    color: blue;
    text-align: center;
    margin: 5px auto;
    font-weight: bold;
}

.sub-container {
    clip-path: stroke-box;
}
#testimony {
    align-self: center;
    width: 100%;
    border-radius: 40px;
    /* clip-path: polygon(10% 0%, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%); */
    border: 7px solid green;
}
#author {
    text-align: end;
    padding-right: 10%;
    font-weight: bold;
}
