@font-face {
    font-family: 'amaticbold';
    src: url('./fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('./fonts/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amatic_scregular';
    src: url('./fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('./fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pacificoregular';
    src: url('./fonts/pacifico-webfont.woff2') format('woff2'),
         url('./fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}
:root {
    --var-padding-box: 19px;
    --var-width-image: 120px;
    --var-height-image: 120px;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 19px;
    /* background-image: url(./images/13312339_v755-toon-05.jpg);
 */}
 header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2.5em;
 }
 nav button {
    padding: 23px 47px;
    border-radius: 3ch;
    background-color: beige;
 }
 nav button:hover {
    background-color: pink;
 }
#content {
    justify-self: center;
    align-self: center;
    width: clamp(500px, 50%, 900px);
    border-radius: 31px;
}
#frame-home, #frame-menu, #frame-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 31px;
    gap: 1rem;
    padding-bottom: 7px;
}

#tittle-container {
    align-self: center;
    justify-self: center;
    color: red;
    width: 70%;
    border-radius: 40px;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
h1 {
    text-align: center;
}
#presentation-container {
    align-self: center;
    justify-self: center;
    width: 90%;
    background-color: beige;
    border-radius: 35px;
    padding: var(--var-padding-box);
}
#tittle-presentation {
    text-align: center;
    color: blue;
    margin-bottom: 0;
}
#text-presentation p {
    margin: 0 auto;
}
#location-container {
    width: 90%;
    border-radius: 25px;
    padding: var(--var-padding-box);
    background-color: beige;
}
span:first-child {
    display: block;
    color: blue;
    text-align: center;
    margin: 5px auto;
    font-weight: bold;
    font-family: 'pacificoregular', sans-serif;
    font-size: 1.2rem;
}

.img {
    width: var(--var-width-image);
    height: var(--var-height-image);
    border-radius: 50%
}
#product1, #product2, #product3, #product4, .member  {
    align-self: center;
    width: 90%;
    display: flex;
    gap: 11px;
    border-radius: 40px;
    background-color: beige;
    padding: 11px;
}
.img-product, .members-image-container {
    align-self: center;
}

#members-image0, #members-image2, #members-image3, #members-image4 {
    aspect-ratio: 16 / 9;
}
.members-text-description {
    font-family: "amaticbold", "sans-serif";
    font-size: 1.3rem;
}
